@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}




/* hovers */

.product-hover:hover {
    background-color: #FBAF85;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.xx99-right button:hover {
    background-color: #FBAF85;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #fff;
}
.hover-grey:hover {
    background-color: #4c4c4c;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #fff;
}
.nav-list-a:hover {
    color: #D87D4A;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.nav-list-i:hover {
    color: #D87D4A;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.devices__headphone:hover .shop-btn{
    color: #D87D4A;
    opacity: 1;
}
.nav-lists a:hover {
    color: #D87D4A;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.fa-solid:hover{
    color: #D87D4A;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.fa-brands:hover{
    color: #D87D4A;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}



.container{
    width: 80%;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 336px;
    background: #000;
    padding-top: 70px;
}
a{
    text-decoration: none;
}
nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 0 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 80px;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #FFFFFF;
    z-index: 300;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav-lists{
    width: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}   
.nav-lists a{
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    color: #fff;
}    
.logo img{
    width: 143px;
    cursor: pointer;
}
.fa-cart-shopping{
    font-size: 25px;
    color: #fff;
}
.white-line{
    width: 100%;
    opacity: 0.2;
    height: 1px;
    background: #fff;
    margin-top: 30px;
}
.headphones-title{
    width: 100%;
    font-weight: 700;
    line-height: 44px;
    font-size: 40px;
    text-align: center;
    color: #fff;
    margin-top: 80px;
}
main{
    width: 100%;
}
.first-part{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; 
}
.xx99-left{
    width: 50%;
    height: 560px;
    background-color: #f1f1f1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    margin-top: 130px;
    border-radius: 8px;
}
.xx99-left img{
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
}
.xx99-right{
    width: 40%;
    margin-left: auto;
    margin-top: 230px;
}
.new-product{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    color: #D87D4A;
}
.headphone-mark{
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    margin: 15px 0;
    margin-bottom: 25px;
}
.headphone-mark__description{
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    opacity: 0.5;
}
.see-product-btn{
    width: 160px;
    height: 48px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    background-color: #D87D4A;
    border: none;
    color: #fff;
    margin-top: 28px;
    cursor: pointer;
}
.second-part{
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}
.xx99-right2{
    margin-right: auto;
    margin-left: 0;
}
#x99-img{
    width: 45%;
    -o-object-fit: contain;
       object-fit: contain;
}
.devices{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 180px;
}
.devices__headphone{
    width: 30%;
    height: 200px;
    background-color: #f1f1f1;
    text-align: center;
    position: relative;
    border-radius: 8px; 
}
.devices__headphone--img{
    position: absolute;
    width: 40%;
    -o-object-fit: contain;
       object-fit: contain;
    top: -90px;
    left: 32%;
}
.headphone__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-top: 125px;
    color: #000;
}
.shop-btn{
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    opacity: 0.5;
    margin-top: 10px;
}
.shop-btn i{
    color: #D87D4A;
    opacity: 1;
    margin-left: 8px;
}
.devices__headphone--img1{
    top: -70px;
}
.audio-gear{
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.audio-gear__left{
    width: 40%;
    height: 560px;
    margin-right: auto;
    margin-top: 20%;
}
.audio-gear__title{
    width: 80%;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.audio-gear__title a{
    text-decoration: none;
    color: #D87D4A;
}
.audio-gear__left p{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
}
.audio-gear__right{
    width: 50%;
}
.audio-gear__right img{
    width: 100%;
    height: 560px;
    border-radius: 8px;
    -o-object-fit: cover;
       object-fit: cover;
}
footer{
    width: 100%;
    height: 365px;
    margin-top: 20px;
    background: #101010;
    padding-top: 50px;
    position: relative;
}
.footer-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; 
    -webkit-box-pack: justify; 
        -ms-flex-pack: justify; 
            justify-content: space-between;
}
.brown-path{
    width: 120px;
    height: 2px;
    background-color: #D87D4A;
    position: absolute;
    top: 0;
    left: 10%;
}
.footer-text{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #fff;
}
.footer__left{
    width: 50%;
    opacity: 0.5;
}
.footer__left p{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    margin-top: 45px;
}
.footer__left span{
    color: #fff;
    display: inline-block;
    margin-top: 60px;
}
.footer__right{
    width: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}
.footer__right i{
    font-size: 28px;
    color: #fff;
}

#menu__toggle {
    opacity: 0;
    top: -8px;
}
#menu__toggle:checked + .menu__btn > span {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    
}
#menu__toggle:checked + .menu__btn > span::before {
    background-color: #000;
    top: 0;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    background-color: #000;
    top: 0;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 28px;
    left: 10%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
    top: 12px;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
            box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    -webkit-transition-duration: .35s;
         -o-transition-duration: .35s;
            transition-duration: .35s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    -webkit-transition-duration: .25s;
         -o-transition-duration: .25s;
            transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
.hamburger-menu{
    display: none;
}


@media (max-width: 820px) {
    .nav-lists{
        width: 340px;
    }
    .nav-lists a{
        font-size: 10px;
    }
    .devices__headphone--img{
        top: -50px;
    }
    .devices__headphone{
        height: 180px;
    }
    .headphone__title{
        margin-top: 80px;
    }
}
@media (max-width: 1150px) {
    .devices__headphone--img{
        top: -50px;
    }
    .headphone__title{
        margin-top: 110px;
    }
}


@media (max-width: 768px) {
    .hamburger-menu{
        display: block;
    }
    .nav-lists{
        display: none;
    }
    .container{
        width: 90%;
    }
    .first-part {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-top: -20px;
    }
    .xx99-left{
        width: 100%;
        height: 352px;
    }
    .xx99-left img{
        width: 40%;
    }
    .xx99-right{
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    .headphone-mark__description{
        width: 90%;
        margin: 0 auto;
    }
    #x99-img{
        width: 30%;
    }
    .headphone__title{
        margin-top: 80px;
        font-size: 15px;
    }
    .audio-gear{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        margin-bottom: -200px;
    }
    .audio-gear__left{
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    .audio-gear__right{
        width: 100%;
        height: 300px;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .audio-gear__right img{
        height: 300px;
    }
    .audio-gear__title{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .audio-gear__left p{
        width: 80%;
        margin: 0 auto;
    }
    .footer-text{
        position: relative;
    }
    .footer__left{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .footer-wrapper{
        display: block;
    }
    .futer-nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 70%;
        margin-top: 20px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .nav-lists a{
        font-size: 13px;
    }
    .footer__left{
        width: 100%;
    }
    .footer__right{
        position: absolute;
        right: 5%;
        bottom: 3%;
    }
}

@media (max-width: 650px) {
    .headphone__title{
        top: -40px;
    }
    .devices__headphone--img{
        top: -40px;
    }
}

@media(max-width: 625px) {
    .nav-lists{
        width: 90%;
    }
}

@media(max-width: 550px) {
    .audio-gear__left{
        height: 600px;
    }
    .footer__left p{
        margin-top: 20px;
        margin-bottom: -20px;
    }
    .devices__headphone--img{
        top: -25px;
    }
}

@media (max-width: 475px) {
    header{
        height: 200px;
        margin-bottom: -60px;
    }
    nav{
        margin-top: -10px;
        margin-bottom: -10px;
    }
    .headphones-title{
        font-size: 28px;
        margin-top: 30px;
    }
    .mark-add{
        margin-top: 0px;
    }
    .new-product{
        font-size: 15px;
    }
    .headphone-mark{
        font-size: 28px;
    }
    .headphone-mark__description{
        font-size: 16px;
    }
    .headphone__title{
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 90px;
    }
    .devices{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .devices__headphone{
        width: 100%;
        height: 180px;
        margin-bottom: 100px;
    }
    .devices__headphone--img{
        width: 25%;
        top: -60px;
        left: 38%;
    }
    .devices__headphone--img1{
        top: -40px;
    }
    .audio-gear__right{
        margin-top: -30px;
    }
    footer{
        margin-top: 120px;
        height: 654px;
        text-align: center;
    }
    .nav-lists{
        width: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }
    .nav-lists a{
        line-height: 50px;
        font-size: 15px;
    }
    .footer__right{
        bottom: -85px;
        left: 40%;
    }
}