@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}



/* hovers */

.product-hover:hover {
    background-color: #FBAF85;
    cursor: pointer;
    transition: 0.3s;
}
.xx99-right button:hover {
    background-color: #FBAF85;
    transition: 0.3s;
    color: #fff;
}
.hover-grey:hover {
    background-color: #4c4c4c;
    transition: 0.3s;
    color: #fff;
}
.nav-list-a:hover {
    color: #D87D4A;
    transition: 0.3s;
}
.nav-list-i:hover {
    color: #D87D4A;
    transition: 0.3s;
}
.devices__headphone:hover .shop-btn{
    color: #D87D4A;
    opacity: 1;
}
.nav-lists a:hover {
    color: #D87D4A;
    transition: 0.3s;
}
.fa-solid:hover{
    color: #D87D4A;
    transition: 0.3s;
}
.fa-brands:hover{
    color: #D87D4A;
    transition: 0.3s;
}
.see-product-btn:hover{
    background-color:  #FBAF85;
    transition: 0.3s;
}
.adding-btn div:hover{
    color: #D87D4A;
}
.adding-btn:hover{
    background-color: #f1f1f1;
}


.container{
    width: 80%;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 100px;
    background: #000;
}
nav{
    display: flex;
    width: 100%;
    padding: 0 10%;
    align-items: center;
    height: 80px;
    margin: 0 auto;
    justify-content: space-between;
    color: #FFFFFF;
    z-index: 300;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.nav-lists{
    width: 400px;
    display: flex;
    justify-content: space-between;
}   
.nav-lists a{
    text-decoration: none;
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;
    letter-spacing: 2px;
    color: #fff;
}    
.logo img{
    width: 143px;
    cursor: pointer;
}
.fa-cart-shopping{
    font-size: 25px;
    color: #fff;
}
main{
    width: 100%;
}
.go-back{
    display: inline-block;
    text-decoration: none;
    color: #000;
    opacity: 0.5;
    margin-top: 40px;
    font-size: 15px;
}
.first-part{
    margin-top: -80px;
    display: flex;
    justify-content: space-between; 
}
.xx99-left{
    width: 50%;
    height: 560px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: 130px;
    border-radius: 8px;
}
.xx99-left img{
    width: 60%;
    object-fit: contain;
}
.xx99-right{
    width: 40%;
    margin-left: auto;
    margin-top: 230px;
}
.new-product{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 10px;
    color: #D87D4A;
}
.headphone-mark{
    font-size: 40px;
    font-weight: 700;
    line-height: 44px;
    margin: 15px 0;
    margin-bottom: 25px;
}
.headphone-mark__description{
    font-weight: 500;
    font-size: 15px;
    line-height: 28px;
    opacity: 0.5;
}
.buttons{
    display: flex;
    width: 65%;
    justify-content: space-between;
}
.see-product-btn{
    width: 160px;
    height: 48px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    background-color: #D87D4A;
    border: none;
    color: #fff;
    margin-top: 28px;
    cursor: pointer;
}
.adding-btn{
    width: 120px;
    height: 48px;
    background-color: #f1f1f1;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    border: none;
    cursor: pointer;
    margin-top: 28px;
}
.adding-btn{
    /* margin-right: 20px; */
}
.headphone-price{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-top: 20px;
}
.features{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 80px;
}
.features-left{
    width: 55%;
}
.features-left__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.5px;
}
.features-left__description{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
    margin-top: 30px;
}
.features-right{
    width: 35%;
}
.features-right__title{
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.feature-right__content span{
    display: inline-block;
    display: flex;
    font-weight: 500;
    font-size: 15px;
    line-height: 30px;
    opacity: 0.5;
}
.feature-right__content p{
    margin-right: 15px;
    color: #D87D4A;
    opacity: 1;
}
.triple-img{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 80px;
}
.triple-img__left{
    width: 43%;
    height: 680px;
}
.first-img{
    width: 100%;
    height: 325px;
}
.first-img img{
    width: 100%;
    height: 325px;
    object-fit: cover;
}
.second-img{
    width: 100%;
    height: 325px;
    margin-top: 30px;
}
.second-img img{
    width: 100%;
    height: 325px;
    object-fit: cover;
}
.triple-img__right{
    width: 55%;
    height: 550px;
}
.triple-img__right img{
    object-fit: cover;
    width: 100%;
    height: 680px;
}
.like{
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-top: 70px;
    margin-bottom: 50px;
}
.triple-devices{
    display: flex;
    justify-content: space-between;
}
.first-box{
    width: 32%;
    text-align: center;
}
.first-box__content{
    width: 100%;
    height: 300px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.first-box__content img{
    width: 45%;
    object-fit: contain;
}
.first-box p{
    margin-top: 30px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 1.7px;
}
.devices{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 220px;
}
.devices__headphone{
    width: 30%;
    height: 200px;
    background-color: #f1f1f1;
    text-align: center;
    position: relative;
    border-radius: 8px; 
}
.devices__headphone--img{
    position: absolute;
    width: 40%;
    object-fit: contain;
    top: -90px;
    left: 32%;
}
.headphone__title{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    margin-top: 125px;
    color: #000;
}
.shop-btn{
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-weight: 700;
    font-size: 13px;
    line-height: 18px;
    opacity: 0.5;
    margin-top: 10px;
}
.shop-btn i{
    color: #D87D4A;
    opacity: 1;
    margin-left: 8px;
}
.devices__headphone--img1{
    top: -70px;
}
.audio-gear{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.audio-gear__left{
    width: 40%;
    height: 560px;
    margin-right: auto;
    margin-top: 20%;
}
.audio-gear__title{
    width: 80%;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.audio-gear__title a{
    text-decoration: none;
    color: #D87D4A;
}
.audio-gear__left p{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    opacity: 0.5;
}
.audio-gear__right{
    width: 50%;
}
.audio-gear__right img{
    width: 100%;
    height: 560px;
    border-radius: 8px;
    object-fit: cover;
}
footer{
    width: 100%;
    height: 365px;
    margin-top: 20px;
    background: #101010;
    padding-top: 50px;
    position: relative;
}
.footer-wrapper{
    display: flex; 
    justify-content: space-between;
}
.brown-path{
    width: 120px;
    height: 2px;
    background-color: #D87D4A;
    position: absolute;
    top: 0;
    left: 10%;
}
.footer-text{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #fff;
}
.footer__left{
    width: 50%;
    opacity: 0.5;
}
.footer__left p{
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    margin-top: 45px;
}
.footer__left span{
    color: #fff;
    display: inline-block;
    margin-top: 60px;
}
.footer__right{
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    margin-bottom: auto;
}
.footer__right i{
    font-size: 28px;
    color: #fff;
}
.xx99-left img{
    width: 50%;
}

#menu__toggle {
    opacity: 0;
    top: -8px;
}
#menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
    
}
#menu__toggle:checked + .menu__btn > span::before {
    background-color: #000;
    top: 0;
    transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
    background-color: #000;
    top: 0;
    transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
    left: 0 !important;
}
.menu__btn {
    position: fixed;
    top: 28px;
    left: 10%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: .25s;
    top: 12px;
}
.menu__btn > span::before {
    content: '';
    top: -8px;
}
.menu__btn > span::after {
    content: '';
    top: 8px;
}
.menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .35s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
    background-color: #CFD8DC;
}
.hamburger-menu{
    display: none;
}



@media (max-width: 1150px) {
    .devices__headphone--img{
        top: -50px;
    }
}

@media (max-width: 820px) {
    .nav-lists{
        width: 340px;
    }
    .nav-lists a{
        font-size: 10px;
    }
    .xx99-right{
        margin-top: 180px;
    }
    .devices__headphone--img{
        top: -35px;
    }
    .devices__headphone{
        height: 180px;
    }
    .headphone__title{
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    .hamburger-menu{
        display: block;
    }
    .nav-lists{
        display: none;
    }
    .container{
        width: 90%;
    }
    .audio-gear{
        flex-direction: column-reverse;
        margin-bottom: -200px;
    }
    .buttons{
        flex-direction: column;
    }
    .headphone-mark{
        font-size: 28px;
    }
    .headphone-mark__description{
        font-size: 12px;
        margin-top: -15px;
    }
    .audio-gear__left{
        width: 100%;
        margin-top: 50px;
        text-align: center;
    }
    .xx99-right{
        margin-top: 140px;
    }
    .audio-gear__right{
        width: 100%;
        height: 300px;
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .audio-gear__right img{
        height: 300px;
    }
    .audio-gear__title{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    .audio-gear__left p{
        width: 80%;
        margin: 0 auto;
    }
    .footer-text{
        position: relative;
    }
    .footer__left{
        flex-direction: column;
    }
    .footer-wrapper{
        display: block;
    }
    .futer-nav{
        display: flex;
        width: 70%;
        margin-top: 20px;
        justify-content: space-between;
    }
    .nav-lists a{
        font-size: 13px;
    }
    .footer__left{
        width: 100%;
    }
    .footer__right{
        position: absolute;
        right: 5%;
        bottom: 3%;
    }
    .headphone__title{
        margin-top: 80px;
        font-size: 15px;
    }
}

@media (max-width: 650px) {
    .devices__headphone--img{
        top: -40px;
    }
    .headphone__title{
        top: -40px;
    }
}

@media(max-width: 625px) {
    .nav-lists{
        width: 90%;
    }
    .triple-devices{
        flex-direction: column;
    }
    .first-box{
        width: 100%;
        margin-bottom: 40px;
    }
    .f-box{
        margin-bottom: -50px;
    }
    .first-box__content img{
        width: 30%;
    }
}

@media(max-width: 550px) {
    .audio-gear__left{
        height: 600px;
    }
    .footer__left p{
        margin-top: 20px;
        margin-bottom: -20px;
    }
    .devices__headphone--img{
        top: -25px;
    }
}


@media (max-width: 475px) {
    /* header{
        height: 200px;
        margin-bottom: -60px;
    } */
    /* nav{
        margin-top: -10px;
        margin-bottom: -10px;
    } */
    .first-part{
        flex-direction: column;
        /* text-align: center; */
    }
    .xx99-left{
        width: 100%;
        height: 400px;
    }
    .xx99-right{
        width: 100%;
        margin-top: 30px;
    }
    .buttons{
        flex-direction: row;
        justify-content: space-between;
        width: 300px;
        /* margin: 0 auto; */
    }
    .features{
        flex-direction: column;
    }
    .features-left{
        width: 100%;
    }
    .features-right{
        width: 100%;
        margin-top: 70px;
    }
    .triple-img{
        flex-direction: column;
    }
    .triple-img__left{
        width: 100%;
    }
    .triple-img__right{
        width: 100%;
        height: 500px;
        margin-top: 30px;
    }
    .triple-img__right img{
        object-fit: cover;
        height: 500px;
    }
    .like{
        font-size: 24px;
    }
    .triple-devices{
        flex-direction: column;
    }
    .first-box{
        width: 100%;
        margin-bottom: 40px;
    }
    .f-box{
        margin-bottom: -50px;
    }
    .headphones-title{
        font-size: 28px;
        margin-top: 30px;
    }
    .mark-add{
        margin-top: 0px;
    }
    .new-product{
        font-size: 15px;
    }
    .headphone-mark{
        font-size: 28px;
    }
    .headphone-mark__description{
        font-size: 16px;
    }
    .headphone__title{
        font-size: 18px;
        text-transform: uppercase;
        margin-top: 90px;
    }
    .devices{
        flex-direction: column;
    }
    .devices__headphone{
        width: 100%;
        height: 180px;
        margin-bottom: 100px;
    }
    .devices__headphone--img{
        width: 25%;
        top: -60px;
        left: 38%;
    }
    .devices__headphone--img1{
        top: -40px;
    }
    .audio-gear__right{
        margin-top: -30px;
    }
    footer{
        margin-top: 120px;
        height: 654px;
        text-align: center;
    }
    .nav-lists{
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
    }
    .nav-lists a{
        line-height: 50px;
        font-size: 15px;
    }
    .footer__right{
        bottom: -85px;
        left: 40%;
    }
}
.new-product{
    display: none;
}

